.hero {
    margin: 1rem auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-radius: 5px;
    color: black;
}

.hero-text {
    max-width: 525px;
    margin: 2rem;
    /* border: yellow solid; */
}

.title-decoration {
    color: green;
}

.hero-form {
    min-width: 350px;
    max-width: 525px;
    margin: 2rem;
    /* border: green solid 1px; */
}